
<div class="container-fluid shadow">
<app-header></app-header>


<mat-tab-group mat-stretch-tabs class="mat-elevation-z5">

  <mat-tab label="Meteo pour aujourd'hui">  
    <app-prev-actuelle [data]="data"></app-prev-actuelle>
  </mat-tab>

  <mat-tab label="Meteo pour les 3 prochains jours">
    
    <app-prev3jours [data]="data"></app-prev3jours>
  </mat-tab>


  <mat-tab label="Meteo aux heures">
        <app-prev-heures class="col-3 mb-3 mr-2" [data]="data"></app-prev-heures>
  </mat-tab>
  
</mat-tab-group>
</div>